.form__button-save {
  margin: 45px 22px 25px;
  padding: 0;
  border: none;
  min-width: 238px;
  min-height: 46px;
  font-size: 14px;
  line-height: 17px;
  border-radius: 2px;
  background: #000;
  color: #FFF;
  cursor: pointer;
  transition: opacity 1s linear;
}

.form__button-save:hover {
  opacity: 0.8;
}

@media screen and (min-width: 1280px) {
  .form__button-save {
    margin: 48px 36px 37px;
    font-size: 18px;
    line-height: 22px;
  }
}
