.group__vector {
  padding: 0;
  width: 22px;
  height: 19px;
  background-image: url(../../../../images/element-vector-like-black-heart-active.svg);
  align-self: flex-end;
  border: none;
  background-color: transparent;
}

.group__vector:hover {
  opacity: 0.5;
  transition: opacity 1s linear;
}